<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="shortcut icon" href="../assets/Multimedia/lyg pequeño.png">
    <title>Servicios</title>
</head>
<body>
  <header class="header">
        <nav >
            <div class="nav1">
                <a href="./index.html"><img  src="../assets/Multimedia/lyg grande.png" alt=""width="70px"></a> 
              </div>
            <ul class="nav2">
              <li> <a href="../index.html">Inicio</a></li>
              <li><a href="../index.html#nosotros">Nosotros</a></li>
              <li> <a href="../index.html#nuestrosTrabajos">Nuestros trabajos</a> </li>
              <li> <a href="./servicios.html">Servicios</a>
               <ul>
                 <li><a href="../views/servicios.html#servicio1">Servicio 1</a></li>
                 <li><a href="../views/servicios.html#servicio2"> Servicio 2</a></li>
                 <li><a href="../views/servicios.html#servicio3"> Servicio 3</a></li>
                 <li><a href="../views/servicios.html#servicio4"> Servicio 4</a></li>
               </ul>
              </li>
              <li> <a href="./contacto.html">Contacto</a></li>
            </ul> 
              
        </nav>
    </header>

    <main>
        <h1>
            Servicios
        </h1>
        
        <section>
           <table>
               <tr id="servicio1">
                   <td> <h3> Regalos</h3>
                       <p class="text"> Lorem, ipsum.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat adipisci nesciunt qui deserunt quia laboriosam a nemo quod aspernatur voluptatibus dolorem nostrum, libero velit sunt veniam, harum amet vitae enim quam blanditiis ipsam nihil optio quisquam et. Temporibus repellendus voluptatem vero animi, fuga corporis earum vitae saepe natus aperiam rerum, atque officia autem cumque. Blanditiis omnis eligendi dignissimos voluptas unde!</p>
                   </td>
                   <td >
                    <img src="../assets/Multimedia/img5.jpg" alt="">
                   </td>
               </tr>
               <tr  class="ser1" id="servicio2" >
                    <td >
                        <img src="../assets/Multimedia/img5.jpg" alt="">
                    </td>
                   <td > <h3> Sorpresas</h3>
                       <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptatibus explicabo tenetur et molestias totam eum omnis inventore repellat accusamus animi nulla, quos fugit in unde reprehenderit sapiente ut veritatis quasi debitis obcaecati, veniam doloremque. Corrupti magni voluptatibus earum molestiae ut eum unde, doloribus aliquam nesciunt pariatur! Exercitationem dolorum perspiciatis sequi. Iure voluptatem ut delectus ratione fuga perferendis odit repellendus!</p>
                    </td>
               </tr>
               <tr  class="ser2" id="servicio2" >
                <td > <h3> Sorpresas</h3>
                   <p class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nemo esse repellat facere quaerat unde reprehenderit perferendis, assumenda consectetur quo!</p>
                </td>
                <td >
                    <img src="../assets/Multimedia/img5.jpg" alt="">
                </td>
              </tr>
               <tr id="servicio3">
                <td > <h3> Regalos</h3>
                    <p class="text"> Lorem, ipsum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat adipisci nesciunt qui deserunt quia laboriosam a nemo quod aspernatur voluptatibus dolorem nostrum, libero velit sunt veniam, harum amet vitae enim quam blanditiis ipsam nihil optio quisquam et. Temporibus repellendus voluptatem vero animi, fuga corporis earum vitae saepe natus aperiam rerum, atque officia autem cumque. Blanditiis omnis eligendi dignissimos voluptas unde!</p>
                </td>
                <td >
                 <img src="../assets/Multimedia/img5.jpg" alt="">
                </td>
             </tr>
             <tr class="ser1" id="servicio4">
                <td >
                    <img src="../assets/Multimedia/img5.jpg" alt="">
                </td>
               <td > <h3> Sorpresas</h3>
                   <p class="tetx"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptatibus explicabo tenetur et molestias totam eum omnis inventore repellat accusamus animi nulla, quos fugit in unde reprehenderit sapiente ut veritatis quasi debitis obcaecati, veniam doloremque. Corrupti magni voluptatibus earum molestiae ut eum unde, doloribus aliquam nesciunt pariatur! Exercitationem dolorum perspiciatis sequi. Iure voluptatem ut delectus ratione fuga perferendis odit repellendus!</p>
                </td>
             </tr>
                <tr class="ser2" id="servicio4">
                   <td > <h3> Sorpresas</h3>
                       <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ad ex dignissimos tempora sunt repudiandae omnis tempore inventore distinctio aperiam!</p>
                    </td>
                    <td >
                        <img src="../assets/Multimedia/img5.jpg" alt="">
                    </td>
              </tr>
           </table>
        </section>
     

    </main>
</body>
</html>